.App {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.viewPort {
  width: 100%;
  height: calc(100vh - 90px);
}

/* NAVBAR */


.navBarContainer {
  width: 100%;
  height: 90px;
  background-color: rgba(75, 75, 75, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  margin-left: 5vw;
}

.navLinks {
  margin-right: 5vw;
}

.links {
  text-decoration: none;
  color: rgb(219, 223, 5);
}

.BtnText {
  font-size: 20px;
  text-transform: capitalize;
  font-family: 'Concert One', cursive;
  text-shadow: 1px 1px 10px red;
}

.sidenav, .menu {
  display: none;
}

@media screen and (max-width: 1024px) {

  .navLinks {
    display: none;
  }

  .menu {
    display: block;
    margin-right: 5vw;
  }

  .menuClose {
    margin-left: 200px;
    margin-top: -20px;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
}

/* Home screen */

.homeScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeScreenContainer p {
  margin-top: 50px;
  color: yellow;
  font-size: 50px;
  text-shadow: 5px 5px 50px blue;
  font-family: 'Concert One', cursive;
  text-align: center;
  line-height: 60px;
}


/* People Screen */

.peopleContainer {
  margin-top: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: aliceblue;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContent {
  width: 100%;
  background-color: rgba(250, 250, 123, 0.719);
}

.cardContentRowAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.typography {
  text-transform: capitalize;
}
